*{
    margin: -8;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: white;
}
#bodystyle{
    background-color: gray;
}
body{
    overflow-x: hidden;

}
.h1 *{
    color: #FFBC4E;
}
#zer0{
    width: 101%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin-left: -8px;
    margin-top: -22px;
}
#zer0 *{
    color: white;
    font-size: 17px;
    transition: 500ms ease 100ms;
}
#zer0 ul{
    display: flex;
    padding-left: 100px;
    width: 200px;
    position: relative;
    top: 20px;
}
#zer0  ul li{
    list-style-type: none;
    padding-right: 70px;
}
#rachamos-o-bico-DEMAIS-slk p{
    color: black;
    font-size: 50px;
    transition: 500ms ease 100ms;
    margin-top: 65px;
    padding-left: 45%;
    font-weight: bold;
    position: absolute;
    filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));

}
#dinheiro1 img{
    width: 70px;
    position: absolute;
    left: 50%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#dinheiro2 img{
    width: 70px;
    position: absolute;
    left: 55%;
    transition: 500ms ease 100ms;
    margin-top: 90px;
}

#dinheiro3 img{
    width: 70px;
    position: absolute;
    left: 60%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#dinheiro4 img{
    width: 70px;
    position: absolute;
    left: 65%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#dinheiro5 img{
    width: 70px;
    position: absolute;
    left: 50%;
    transition: 500ms ease 100ms;
    margin-top: 150px;
}

#dinheiro6 img{
    width: 70px;
    position: absolute;
    left: 55%;
    transition: 500ms ease 100ms;
    margin-top: 160px;
}
#dinheiro8 img{
    width: 70px;
    position: absolute;
    left: 60%;
    transition: 500ms ease 100ms;
    margin-top: 160px;
}
#dinheiro9 img{
    width: 70px;
    position: absolute;
    left: 65%;
    transition: 500ms ease 100ms;
    margin-top: 160px;
}

#zero1{
    width: 101%;
    height: 150px;
    background-color: #FFBC4E;
    background-color: #FFBC4E;
    margin-left: -8px;
}
#ceguinho video{
    width: 101%;
    margin-left: -8px;
    object-fit: cover;
    height: 770px;
    background-attachment: scroll;

}
#ii p{
    font-size: 110px;
    width: 700px;
    color: rgb(255, 255, 255);;
    position: absolute;
    top: 240px;
    left: 32%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.800));

}
#h1 *{
    color: #FFBC4E
}
#i p{
    font-size: 30px;
    width: 500px;
    color: rgb(255, 255, 255);;
    position: absolute;
    top: 590px;
    left: 37%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.800));


}
.eminem{
        background-image: url(../img/eminem.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;

    width: 12000px;
    background-color: #ffffff;
    background-position: 791px;
    top: 100px;
    
}
#zero2{
    width: 101%;
    height: 900px;
    background-color: #ffffff;
    margin-left: -8px;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.peralta{
    width: 101%;
    margin-left: -8px;
    height: 750px;
    background-image: url(../img/pexels-shvets-production-7516363_edited.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 2000px;
}
#ele p{
    font-size: 110px;
    width: 700px;
    color: rgb(255, 255, 255);;
    position: absolute;
    top: 240px;
    left: 32%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.800));

}
#gosta p{
    font-size: 30px;
    width: 500px;
    color: rgb(255, 255, 255);;
    position: absolute;
    top: 590px;
    left: 37%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.800));


}
#ixi p{
    font-size: 110px;
    width: 700px;
    color: #FFBC4E;
    position: absolute;
    top: 1600px;
    left: 32%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.800));

}
#iixi p{
    font-size: 20px;
    width: 1000px;
    color: rgb(255, 255, 255);;
    position: absolute;
    top: 2000px;
    left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.800));


}


#insta1 img{
    object-fit: cover;
     width: 25px;
    height: 25px;
    position: absolute;
    left: 82.5%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#twitter1 img{
    object-fit: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 85%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#zapzap1 img{
    object-fit: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 87.5%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#koo1 img{
    object-fit: cover;
    width: 65px;
    border-radius: 50%;
    height: 65px;
    position: absolute;
    left: 89%;
    transition: 500ms ease 100ms;
    margin-top: 57.5px;
}

#face1 img{
    object-fit: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 92.5%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#pinterest1 img{
    object-fit: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 95%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}
#kk{
    width: 101%;
    height: 30px;
    margin-left: -8px;
    background-color:#FFBC4E;
}
#MUITA-GRANA-brincadeira {
    height: 300px;
}

#MUITA-GRANA-brincadeira p{
    font-size: 55px;
    width: 900px;
    color:#000000;
    position: absolute;
    left: 26%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    text-decoration: underline;
}
#batman a{
    font-size: 90px;
    width: 500px;
    margin-top: 150px;
    background-color: #FFBC4E;
    color: #000000;
    
    position: absolute;
    left: 37%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    transition: 500ms ease 100ms;
}
#batman a:hover{
    font-size: 100px;
    background-color: #000000;
   color:#FFBC4E;
   align-self: center;
}  
#zer3{
    width: 101%;
    height: 700px;
    background-color: #FFBC4E;
    margin-left: -8px;
    margin-top: -10px;
}
#zer4{
    width: 101%;
    height: 300px;
    background-color: #000000;
    background-color: #000000;
    margin-left: -8px;
    margin-top: -10px;
}
#zer5{
    width: 101%;
    height: 300px;
    background-color: #ffffff;
    margin-left: -8px;
    margin-top: -10px;
}
#demitir p{
    color: white;
    font-size: 16px;
    padding-left: 20%;
    position: absolute;
    margin-top: 110px;
}
#moisés p{
    color: white;
    font-size: 16px;
    padding-left: 20%;
    margin-top: 150px;
    position: absolute;

}
#maldade p{
    color: white;
    font-size: 16px;
    padding-left: 20%;
    margin-top: 190px;
    position: absolute;

}
#test1 p{
    font-size: 16px;
    padding-left: 25%;
    position: absolute;
    margin-top: -250px;
}
#test2 p{
    font-size: 16px;
    padding-left: 25%;
    margin-top: -210px;
    position: absolute;

}
#test3 p{
    font-size: 16px;
    padding-left: 25%;
    margin-top: -70px;
    position: absolute;

}
#test4 p{
    font-size: 16px;
    padding-left: 50%;
    position: absolute;
    margin-top: -250px;
}
#test5 p{
    font-size: 16px;
    padding-left: 50%;
    margin-top: -70px;
    position: absolute;

}
#toy p{
    font-size: 100px;
    width: 600px;
    color: #FFBC4E;
    position: absolute;
    margin-top: 150px;
    left: 750px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    text-decoration: underline;
    font-style: bold;
}

#melhor P{
    font-size: 23.5px;
    width: 450px;
    position: absolute;
    left: 400px;
    margin-top: 400px;
    text-align: justify;
}
#que p{
    font-size: 23.5px;
    width: 450px;
    position: absolute;
    left: 400px;
    margin-top: 750px;
    text-align: justify;
}
#como_treinar_seu_dragão p{
    font-size: 23.5px;
    width: 450px;
    position: absolute;
    left: 1140px;
    margin-top: 400px;
    text-align: justify;
}
#k7{
    height: 500px;
    background-color: #ffffff;
}

#MDS img{
    width: 220px;
    position: absolute;
    left: 0.5%;
    margin-top: -125px;
    transition: 500ms ease 100ms;
    object-fit: cover;
    border-radius: 50%;

}
#QUE img{
    width: 220px;
    position: absolute;
    left: 17.5%;
    margin-top: -125px;
    transition: 500ms ease 100ms;
    object-fit: cover;
    border-radius: 50%;
}
#ISSO img{
    width: 220px;
    position: absolute;
    left: 34.5%;
    margin-top: -125px;
    transition: 500ms ease 100ms;
    object-fit: cover;
    border-radius: 50%;
}
#MEU img{
    width: 220px;
    position: absolute;
    left: 53.5%;
    margin-top: -125px;
    transition: 500ms ease 100ms;
    object-fit: cover;
    border-radius: 50%;
}
#FILHO img{
    width: 220px;
    position: absolute;
    left: 70.5%;
    margin-top: -125px;
    transition: 500ms ease 100ms;
    object-fit: cover;
    border-radius: 50%;
}
#CALMA img{
    width: 220px;
    position: absolute;
    left: 87.5%;
    margin-top: -125px;
    transition: 500ms ease 100ms;
    object-fit: cover;
    border-radius: 50%;
}
#MDS img:hover{
    opacity: 70%;
    width: 250px;


}
#QUE img:hover{
    opacity: 70%;
    width: 250px;


}
#ISSO img:hover{
    opacity: 70%;
    width: 250px;


}
#MEU img:hover{
    opacity: 70%;
    width: 250px;


}
#FILHO img:hover{
    opacity: 70%;
    width: 250px;


}
#CALMA img:hover{
    opacity: 70%;
    width: 250px;

}
