*{
    margin: -8;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: white;
}
#bodystyle{
    background-color: gray;
}
body{
    overflow-x: hidden;

}

.h1 *{
    color: #FFBC4E;
}
#zer0{
    width: 101%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin-left: -8px;
    margin-top: -22px;
}
#zer0 *{
    color: white;
    font-size: 17px;
    transition: 500ms ease 100ms;
}
#zer0 ul{
    display: flex;
    padding-left: 100px;
    width: 200px;
    position: relative;
    top: 20px;
}
#zer0  ul li{
    list-style-type: none;
    padding-right: 70px;
}
#rachamos-o-bico-DEMAIS-slk p{
    color: black;
    font-size: 50px;
    transition: 500ms ease 100ms;
    margin-top: 65px;
    padding-left: 45%;
    font-weight: bold;
    position: absolute;
    filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));

}
#ceguinho audio{
    position: absolute;
    margin-top: 30px;
}
#dinheiro1 img{
    width: 70px;
    position: absolute;
    left: 50%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#dinheiro2 img{
    width: 70px;
    position: absolute;
    left: 55%;
    transition: 500ms ease 100ms;
    margin-top: 90px;
}

#dinheiro3 img{
    width: 70px;
    position: absolute;
    left: 60%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#dinheiro4 img{
    width: 70px;
    position: absolute;
    left: 65%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#dinheiro5 img{
    width: 70px;
    position: absolute;
    left: 50%;
    transition: 500ms ease 100ms;
    margin-top: 150px;
}

#dinheiro6 img{
    width: 70px;
    position: absolute;
    left: 55%;
    transition: 500ms ease 100ms;
    margin-top: 160px;
}
#dinheiro8 img{
    width: 70px;
    position: absolute;
    left: 60%;
    transition: 500ms ease 100ms;
    margin-top: 160px;
}
#dinheiro9 img{
    width: 70px;
    position: absolute;
    left: 65%;
    transition: 500ms ease 100ms;
    margin-top: 160px;
}

#zero1{
    width: 101%;
    height: 150px;
    background-color: #FFBC4E;
    background-color: #FFBC4E;
    margin-left: -8px;
}
#ceguinho video{
    width: 101%;
    margin-left: -8px;
    object-fit: cover;
    height: 770px;
    background-attachment: scroll;

}
#ii p{
    font-size: 110px;
    width: 700px;
    color: rgb(255, 255, 255);;
    position: absolute;
    top: 240px;
    left: 32%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.800));

}
#h1 *{
    color: #FFBC4E
}
#i p{
    font-size: 30px;
    width: 500px;
    color: rgb(255, 255, 255);;
    position: absolute;
    top: 590px;
    left: 37%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.800));


}
.eminem{
        background-image: url(../img/terno.jpg.jfif);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;

    width: 12000px;
    height: 750px;
    background-color: #ffffff;
    background-position: 805px;
    top: 100px;
    
}
#zero2{
    width: 101%;
    height: 800px;
    background-color: #ffffff;
    margin-left: -8px;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.peralta{
    width: 101%;
    margin-left: -8px;
    height: 750px;
    background-image: url(../img/pexels-shvets-production-7516363_edited.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 2000px;
}
#ele p{
    font-size: 110px;
    width: 700px;
    color: rgb(255, 255, 255);;
    position: absolute;
    top: 240px;
    left: 32%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.800));

}
#gosta p{
    font-size: 30px;
    width: 500px;
    color: rgb(255, 255, 255);;
    position: absolute;
    top: 590px;
    left: 37%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.800));


}
#ixi p{
    font-size: 110px;
    width: 700px;
    color: #FFBC4E;
    position: absolute;
    top: 1600px;
    left: 32%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.800));

}
#iixi p{
    font-size: 20px;
    width: 1000px;
    color: rgb(255, 255, 255);;
    position: absolute;
    top: 2000px;
    left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0, 0.800));


}


#insta1 img{
    object-fit: cover;
     width: 25px;
    height: 25px;
    position: absolute;
    left: 82.5%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#twitter1 img{
    object-fit: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 85%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#zapzap1 img{
    object-fit: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 87.5%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#koo1 img{
    object-fit: cover;
    width: 65px;
    border-radius: 50%;
    height: 65px;
    position: absolute;
    left: 89%;
    transition: 500ms ease 100ms;
    margin-top: 57.5px;
}

#face1 img{
    object-fit: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 92.5%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#pinterest1 img{
    object-fit: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 95%;
    transition: 500ms ease 100ms;
    margin-top: 80px;
}

#zer3{
    width: 101%;
    height: 500px;
    background-color: #FFBC4E;
    background-color: #FFBC4E;
    margin-left: -8px;
    margin-top: -10px;
}
#zer4{
    width: 101%;
    height: 300px;
    background-color: #000000;
    background-color: #000000;
    margin-left: -8px;
    margin-top: -10px;
}
#zer5{
    width: 101%;
    height: 300px;
    background-color: #ffffff;
    margin-left: -8px;
    margin-top: -10px;
}
#demitir p{
    color: white;
    font-size: 16px;
    padding-left: 20%;
    position: absolute;
    margin-top: 110px;
}
#moisés p{
    color: white;
    font-size: 16px;
    padding-left: 20%;
    margin-top: 150px;
    position: absolute;

}
#maldade p{
    color: white;
    font-size: 16px;
    padding-left: 20%;
    margin-top: 190px;
    position: absolute;

}
#test1 p{
    font-size: 16px;
    padding-left: 25%;
    position: absolute;
    margin-top: -250px;
}
#test2 p{
    font-size: 16px;
    padding-left: 25%;
    margin-top: -210px;
    position: absolute;

}
#test3 p{
    font-size: 16px;
    padding-left: 25%;
    margin-top: -70px;
    position: absolute;

}
#test4 p{
    font-size: 16px;
    padding-left: 50%;
    position: absolute;
    margin-top: -250px;
}
#test5 p{
    font-size: 16px;
    padding-left: 50%;
    margin-top: -70px;
    position: absolute;

}
#slim p{
    font-size: 23px;
    padding-left: 200px;
    position: absolute;
    width: 450px;
    text-align:justify;
    margin-top: 300px;
}
#shady p{
    font-size: 19px;
    padding-left: 200px;
    position: absolute;
    width: 450px;
    text-align:justify;
    margin-top: 480px;

}
#rihanna{
        width: 101%;
        height: 900px;
        background-color: #ffffff;
        margin-left: -8px;
        margin-top: -10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
}
#Modrić p{
    font-size: 55px;
    width: 400px;
    color: #FFBC4E;
    position: absolute;
    top: 270px;
    left: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    text-decoration: underline;
}
#Ronaldo p{
    font-size: 19px;
    left: 6.7%;
    position: absolute;
    width: 450px;
    text-align:justify;
    margin-top: 450px;
}
#SIUUU p{
    font-size: 19px;
    left: 6.7%;
    position: absolute;
    width: 450px;
    text-align:justify;
    margin-top: 630px;

}

#Cristiano p{
    font-size: 30px;
    width: 600px;
    color: #FFBC4E;
    position: absolute;
    margin-top: 370px;
    left: 14%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
#Curiosidades p{
    font-size: 90px;
    width: 700px;
    color: black;
    position: absolute;
    margin-top: 150px;
    left: 690px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    text-decoration: underline;
    font-style: bold;
}
#Casemiro p{
    font-size: 19px;
    left: 36.7%;
    position: absolute;
    width: 450px;
    text-align:justify;
    margin-top: 450px;
}
#Ronaldinho p{
    font-size: 19px;
    left: 36.7%;
    position: absolute;
    width: 450px;
    text-align:justify;
    margin-top: 630px;

}

#Messi p{
    font-size: 30px;
    width: 600px;
    color: #FFBC4E;
    position: absolute;
    margin-top: 370px;
    left: 41%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
#Benzema p{
    font-size: 19px;
    left: 66.7%;
    position: absolute;
    width: 450px;
    text-align:justify;
    margin-top: 450px;
}
#Vini_Jr p{
    font-size: 19px;
    left: 66.7%;
    position: absolute;
    width: 450px;
    text-align:justify;
    margin-top: 570px;

}

#Mbappé p{
    font-size: 30px;
    width: 600px;
    color: #FFBC4E;
    position: absolute;
    margin-top: 370px;
    left: 72%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

#cai{
    height: 1600px;
    width: 111%;
    margin-left: -8px;
    background-color: #ffffff; 
    position: absolute;
}

.img1{
    position: absolute;
    left: 82%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 30%;
    margin-top: 250px;
    transition: 500ms ease 100ms;
}
.img2{
    position: absolute;
    left: 62%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 30%;
    margin-top: 250px;
    transition: 500ms ease 100ms;
}
.img3{
    position: absolute;
    left: 42%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 30%;
    margin-top: 250px;
    transition: 500ms ease 100ms;
}
.img4{
    position: absolute;
    left: 22%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 30%;
    margin-top: 250px;
    transition: 500ms ease 100ms;
}
.img5{
    position: absolute;
    left: 2%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 30%;
    margin-top: 250px;
    transition: 500ms ease 100ms;
}

.img1:hover{
    
   opacity: 0%;
 }
 .img2:hover{
    
   opacity: 0%;
  }
  .img3:hover{
    
    opacity: 0%;
}
.img4:hover{
   
    opacity: 0%;
}
.img5:hover{
    
    opacity: 0%;
}

div.tres {
    width: 30px;
    height: 140px;
    border: 150px solid;
    border-color: #FFBC4E;
    position: absolute;
    left: 81.2%;
    margin-top: 230px;
}
div.tresinho {
    width: 30px;
    height: 140px;
    border: 150px solid;
    border-color: #FFBC4E;
    position: absolute;
    left: 61.2%;
    margin-top: 230px;
}
div.tresão {
    width: 30px;
    height: 140px;
    border: 150px solid;
    border-color: #FFBC4E;
    position: absolute;
    left: 41.2%;
    margin-top: 230px;
}
div.tressin {
    width: 30px;
    height: 140px;
    border: 150px solid;
    border-color: #FFBC4E;
    position: absolute;
    left: 21.2%;
    margin-top: 230px;
}

div.TRES {
    width: 30px;
    height: 140px;
    border: 150px solid;
    border-color: #FFBC4E;
    position: absolute;
    left: 1.2%;
    margin-top: 230px;
}
#Homelander p{
    position: absolute;
    left: 44.2%;
    object-fit: cover;
    width: 300px;
    border-radius: 50%;
    margin-top: 575px;
    transition: 500ms ease 100ms;
    font-weight: bold;
    font-size: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0, 0.800));

}
#Eminem p{
    position: absolute;
    left: 22.3%;
    object-fit: cover;
    width: 300px;
    border-radius: 50%;
    margin-top: 575px;
    transition: 500ms ease 100ms;
    font-weight: bold;
    font-size: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0, 0.800));

}

#Shazam p{
    position: absolute;
    left: 4.2%;
    object-fit: cover;
    width: 300px;
    border-radius: 50%;
    margin-top: 575px;
    transition: 500ms ease 100ms;
    font-weight: bold;
    font-size: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0, 0.800));

}
#Rock p{
    position: absolute;
    left: 64.3%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 575px;
    transition: 500ms ease 100ms;
    font-weight: bold;
    font-size: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0, 0.800));

}
#Deadpool p{
    position: absolute;
    left: 83.5%;
    object-fit: cover;
    width: 300px;
    border-radius: 50%;
    margin-top: 575px;
    transition: 500ms ease 100ms;
    font-weight: bold;
    font-size: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0, 0.800));

}


#ui p{
    position: absolute;
    left: 44.5%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 620px;
    transition: 500ms ease 100ms;
    font-weight: bold;
    font-size: 18px;
    width: 200px;
    text-align: center;
}
#uii p{
    position: absolute;
    left: 25.3%;
    object-fit: cover;
    width: 300px;
    border-radius: 50%;
    margin-top: 620px;
    transition: 500ms ease 100ms;
    font-weight: bold;
    font-size: 18px;
    width: 180px;
    text-align: center;
}

#uiiii p{
    position: absolute;
    left: 5%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 620px;
    transition: 500ms ease 100ms;
    font-weight: bold;
    font-size: 18px;
    width: 180px;
    text-align: center;

}
#uiiiii p{
    position: absolute;
    left: 65%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 620px;
    transition: 500ms ease 100ms;
    font-weight: bold;
    font-size: 18px;
    width: 180px;
    text-align: center;
}

#uiiiiii p{
    position: absolute;
    left: 85.5%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 620px;
    transition: 500ms ease 100ms;
    font-weight: bold;
    font-size: 18px;
    width: 160px;
    text-align: center;
}

